<!--Card for intern information-->

<div class="card hovercard">
    <div class="cardheader">
        <div class="card-heading">
            {{name}}
        </div>

        <div class="role">
            <img src="../images/Intern.ico"></img>
            {{role}}
        </div>
    </div>
    <div class="card-body">
        <div class="desc">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: {{id}}</li>
                <li class="list-group-item">Email: {{email}}</li>
                <li class="list-group-item">School: {{school}}</li>
            </ul>
        </div>
    </div>
</div>