<!--Card for the Manager Information-->

<div class="card hovercard">
    <div class="cardheader">
        <div class="card-heading">
            {{name}}
        </div>

        <div class="role">
            <img src="../images/Manager.ico"></img>
            {{role}}
        </div>
    </div>
    <div class="card-body">
        <div class="desc">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: {{id}}</li>
                <li class="list-group-item">Email: {{email}}</li>
                <li class="list-group-item">Office: {{officeNumber}}</li>
            </ul>
        </div>
    </div>
</div>